
@if (ViewBag.ErrorTitle == null)
{
    <h1>Error</h1>
    <h3>Error occured processing your reqeust please call @@akash</h3>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    <h3>Error occured processing your reqeust please call @@akash</h3>
}
